<% if @weather_report.present? %>
    <h1>Weather Report for <%= @weather_report.address %></h1>
    Zip Code: <%= @weather_report.zip_code %>
    <br />
    Current: <%= @weather_report.temp_current %>°F
    <br />
    High: <%= @weather_report.temp_max %>°F
    <br />
    Low: <%= @weather_report.temp_min %>°F
    <br />
    Cache Hit?: <%= @cache_hit.to_s %>
<% end %>

<h1>Search For Weather Report</h1>

<%= form_for(root_path, method: :get) do |f| %>
    <%= text_field_tag(:address, params[:address]) %>
    <%= submit_tag "Get Weather" %>
<% end %>
