<% if @weather_report.present? %>
    <h1>Weather Report for <%= @weather_report.address %></h1>
    Zip Code: <%= @weather_report.zip_code %>
    <br />
    Current:
    <br />
    High:
    <br />
    Low:
<% end %>

<h1>Search For Weather Report</h1>

<%= form_for(root_path, method: :get) do |f| %>
    <%= text_field_tag(:address, params[:address]) %>
    <%= submit_tag "Get Weather" %>
<% end %>
